/trunk/FoxCard.Client/HybridCLRData
/trunk/FoxCard.Client/Library
/trunk/FoxCard.Client/Temp
/trunk/FoxCard.Client/.vscode
/trunk/FoxCard.Client/Builds
/trunk/FoxCard.Client/Bundles
/trunk/FoxCard.Client/obj
/trunk/FoxCard.Client/Logs
/trunk/FoxCard.Server/obj
/trunk/FoxCard.Server/bin
/trunk/FoxCard.Client/Assets/StreamingAssets

/trunk/FoxCard.Client/Assets/FoxCard/Art_Resources/UI/Fonts
trunk/FoxCard.Client/UserSettings/Layouts/default-6000.dwlt
trunk/FoxCard.Client/ProjectSettings/ProjectVersion.txt
trunk/FoxCard.Client/Assets/StreamingAssets/build_info
trunk/FoxCard.Client/Assets/FoxCard/Scripts/HotFix/UI/Protocol/Protocol/Class/MyUrl.cs
trunk/FoxCard.Client/UserSettings/Layouts/default-6000.dwlt
trunk/FoxCard.Client/Assets/FoxCard/Scripts/HotFix/UI/Protocol/Protocol/Class/MyUrl.cs
