/trunk/FoxCard.Client/HybridCLRData
/trunk/FoxCard.Client/Library
/trunk/FoxCard.Client/Temp
/trunk/FoxCard.Client/.vscode
/trunk/FoxCard.Client/Builds
/trunk/FoxCard.Client/Bundles
/trunk/FoxCard.Client/obj
/trunk/FoxCard.Client/Logs
/trunk/FoxCard.Server/obj
/trunk/FoxCard.Server/bin
/trunk/FoxCard.Client/Assets/StreamingAssets

